:root{
  --Orange: hsl(26, 100%, 55%);/*FF7D1A*/
--Paleorange: hsl(25, 100%, 94%);/*FFEDE0*/
--Verydarkblue: hsl(220, 13%, 13%);/*1D2025*/
--Darkgrayishblue: hsl(219, 9%, 45%);/*68707D*/
--Grayishblue: hsl(220, 14%, 75%);/*B6BCC8*/
--Lightgrayishblue: hsl(223, 64%, 98%);/*F7F8FD*/
--White: hsl(0, 0%, 100%);/*FFFFFF*/
--Black: hsl(0, 0%, 0%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
